/*CONTEÚDO PRINCIPAL*/
main{
    background-image: url(../img/fundo__fotos/fundo.jpg);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Guia de ajuda */
.section-help {
    background-color: rgba(0, 0, 0, 0.692);
    padding: 50px 0px;
    margin: 25px 0px;
}
.section-help  .box-help{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px 0px;
}
.box-help .advice{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 30px;
    width: 40%;
}

.advice img{
    width: 100px;
    height: 100px;
    margin: 10px;
}
.advice-text{
    background-color: rgba(0, 0, 0, 0.164);
    padding: 15px 10px;
    border: 2px solid rgb(151, 65, 212);
    border-radius: 10px;
    width: 150px;
}
.advice-text p{
    color: rgb(151, 65, 212);
    font-size: 10px;
    margin: 0px 5px;
}

/* Missões */
.section-story{
    background-color: black;
    padding: 25px 5px;
}
h2{
    color: white;
    padding: 30px;
    text-align: center;
    font-size: 15px;
}
.section-story .content{
    display: flex;
    overflow: hidden;
    overflow-x: scroll;
    padding: 10px;
    justify-content: space-between;
}
.content .story{
    border: 3px solid rgb(151, 65, 212);
    border-radius: 45px;
    margin:15px;
}
.content .story:hover{
    box-shadow: 9px 8px 25px darkorchid;
    cursor: pointer;
    width: 100px;
}

.story legend{
    text-align: center;
}
.story legend img{
    width: 20px;
}
.description_story{
    color: white;
    width: 250px;

}
.description_story h3{
    text-transform: uppercase;
    padding: 0 15px;
    margin: 25px;
    color: rgb(151, 65, 212);
    font-size: 12px;
}
.description_story p{
    font-size: 10px;
    padding: 0 25px;
    margin: 15px;
    font-weight: 800;
}
.description_story figure{
    margin: auto;
    padding: 20px;
    width: 200px;
    height: 200px;
}
.description_story figure img{
    width: 100%;
    height: 100%;
}


